examples/http_json.json
[{"id":"1d646bec.41e374","type":"inject","z":"45d792b0.73b71c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":520,"wires":[["da10e4e7.575038"]]},{"id":"da10e4e7.575038","type":"Sht31","z":"45d792b0.73b71c","name":"","bus":"4","address":"0x44","topic":"sht31","x":400,"y":520,"wires":[["109f995d.fa7d87"]]},{"id":"109f995d.fa7d87","type":"debug","z":"45d792b0.73b71c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":520,"wires":[]}]
